<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <main >
            <body class = "gamesearch" style="background-color:rgb(27, 32, 37);">
            <br>
            <br>
            <div class="container">
                <% if (locals.message) { %>
                    <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                        <h1 class="title1">Search Your Game</h1>
                        <br>
                        <br>
                        <form action="/gamesearch" method="POST">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search"
                                    aria-label="Search" aria-describedby="search-addon" name="searchTerm"
                                    id="searchTerm" placeholder="Search..." />
                                <button type="submit" class="btn3">Search</button>
                            </div>
                        </form>
                        <br>
                        <div class="FixedHeightContainer">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Developer</th>
                                        <th scope="col">Release Date</th>
                                    </tr>
                                </thead>
                                <% games.forEach(function(element){%>
                                    <tr>
                                        <td>
                                            <a class="active" href="/gameprofile?appid=<%=element.appid %>">
                                                <%= element.name %>
                                            </a>
                                        </td>
                                        <td>
                                            <%= element.developer %>
                                        </td>
                                        <td>
                                            <%=element.release_date.toLocaleDateString() %>
                                        </td>
                                    </tr>
                                    <% });%>
                            </table>
                        </div>
            </div>
            <br>
            <br>
        </body>
        </main>
        <%- include ('../partials/footer') %>