<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <main style="background-color:rgb(27, 32, 37);">
            <br>
            <br>
            <br>
            <div class="container">
                <% if (locals.message) { %>
                    <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                        <form action="/gamesearch" method="POST">
                            <div class="input-group">
                                <input type="search" class="form-control rounded" placeholder="Search"
                                    aria-label="Search" aria-describedby="search-addon" name="searchTerm"
                                    id="searchTerm" placeholder="Search..." />
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                        <div class="FixedHeightContainer">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Developer</th>
                                        <th scope="col">Release Date</th>
                                    </tr>
                                </thead>
                                <% games.forEach(function(element){%>
                                    <tr>
                                        <td>
                                            <%= element.name %>
                                        </td>
                                        <td>
                                            <%= element.developer %>
                                        </td>
                                        <td>
                                            <%=element.release_date.toLocaleDateString() %>
                                        </td>
                                    </tr>
                                    <% });%>
                            </table>
                        </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>