<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <main>
            <br>
            <br>
            <div class="container">
                <% if (locals.message) { %>
                    <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                    <br>
                    <br>
                    <h1 class="title">Games With Highest Average Playtime</h1>
                    <br>
                    <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Developer</th>
                                    <th scope="col">Average Playtime</th>
                                </tr>
                            </thead>
                            <% games_playtime.forEach(function(element){%>
                                <tr>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.developer %>
                                    </td>
                                    <td>
                                        <%= parseInt(element.average_playtime / 1440) %> days, <%= parseInt(parseInt(element.average_playtime % 1440) / 60) %> hours, <%=element.average_playtime % 60 %> mins
                                    </td>
                                </tr>
                                <% });%>
                        </table>
                        <br>
                        <br>
                        <br>
 
                        <h1 class="title">Most Expensive Games</h1>
                        <br>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Developer</th>
                                    <th scope="col">Average Playtime</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <% games_byprice.forEach(function(element){%>
                                <tr>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.developer %>
                                    </td>
                                    <td>
                                        <%= parseInt(element.average_playtime / 1440) %> days, <%= parseInt(parseInt(element.average_playtime % 1440) / 60) %> hours, <%=element.average_playtime % 60 %> mins
                                    </td>
                                    <td>
                                        <%= parseInt(element.price) %>
                                    </td>
                                </tr>
                                <% });%>
                        </table>
 
 
                        <h1 class="title">Games With Highest Positive Ratings</h1>
                    <br>
                    <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Developer</th>
                                    <th scope="col">Average Playtime</th>
                                    <th scope="col">Positive Ratings</th>
                                </tr>
                            </thead>
                            <% games_byrating.forEach(function(element){%>
                                <tr>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.developer %>
                                    </td>
                                    <td>
                                        <%= parseInt(element.average_playtime / 1440) %> days, <%= parseInt(parseInt(element.average_playtime % 1440) / 60) %> hours, <%=element.average_playtime % 60 %> mins
                                    </td>
                                    <td>
                                        <%= parseInt(element.positive_ratings) %>
                                    </td>
                                </tr>
                                <% });%>
                        </table>
 
                        <br>
                    <br>
                    <h1 class="title">Games With Most Negative Ratings</h1>
                    <br>
                    <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Developer</th>
                                    <th scope="col">Average Playtime</th>
                                    <th scope="col">Negative Ratings</th>
                                </tr>
                            </thead>
                            <% games_bynegrating.forEach(function(element){%>
                                <tr>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.developer %>
                                    </td>
                                    <td>
                                        <%= parseInt(element.average_playtime / 1440) %> days, <%= parseInt(parseInt(element.average_playtime % 1440) / 60) %> hours, <%=element.average_playtime % 60 %> mins
                                    </td>
                                    <td>
                                        <%= parseInt(element.negative_ratings) %>
                                    </td>
                                </tr>
                                <% });%>
                        </table>
            </div>
        </main>
<%- include ('../partials/footer') %>
