<%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>
    <%- include ('../partials/message') %>

      <main>
        <body class = "profile" style="background-color:rgb(27, 32, 37);">
        <div class="container">
          <h1>Welcome back, <%=results[0].personaname%>!</h1>

          <div>

          </div>
          <div class="container">
            <img style="width:200px;height:200px;" src=<%=results[0].avatarfull%>></img>
            <br>
            <a class="active" href=<%=results[0].profileurl%>>Your Steam Page</a>
          </div>
          <p>Account create on: <%= Date(results[0].timecreated)%>
          </p>
          <p>You're most recent game was: <%= recentGames[0].name %>
          </p>


          <!--
Owned Games table, currently pulling dummy data until DB is setup
-->
          <h1>Most Played Games</h1>
          <div class="FixedHeightContainer">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Game</th>
                  <th scope="col">Hours Played</th>
                </tr>
              </thead>
              <% players_games.forEach(function(element){%>
                <tr>
                  <td>
                    <img style="width:184px; height: 86px;" class="img-thumbnail" style=border:1px solid #A9A9A9'
                      src="https://cdn.cloudflare.steamstatic.com/steam/apps/<%=element.appid %>/header.jpg"></img>
                  </td>
                  <td>
                    <a class="active" href="https://store.steampowered.com/app/<%=element.appid %>">
                      <%= element.name %>
                    </a>
                  </td>
                  <td>
                    <%= parseInt(element.play_time/60) %> hours
                  </td>
                </tr>
                <% });%>
            </table>
          </div>
        </div>
        <br>
        <br>
      </body>
      </main>

      <%- include ('../partials/footer') %>